.box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.contentBox {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
}

.title {
    color: #060606;
    margin: 0;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    max-height: 500px
}
